$dark-blue: #126e82;
$red: #ce1212;

$background-color: #b5deff;
$background-form-color: #fbf4e9;

$button-color: white;
$button-text-color: black;
$button-border-color: black;
$button-active-bg-color: #22577a;
$button-active-text-color: white;
$button-active-border-color: white; 
